<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Assignment Management</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>

</head>
<body>

<div class="container my-5">
    <div class="row text-center mb-5">
        <div class="col">
            <h2>Tạo mới thông tin phân công tài xế lái xe buýt</h2>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <form method="POST" th:action="@{/assignment/create}" th:object="${assignment}">
                <div class="form-group">
                    <label for="driverId">Driver's Name:</label>
                    <select class="form-group" th:field="*{driverId}" id="driverId">
                        <option th:each="driver : ${driverList}"
                                th:value="${driver.id}" th:text="${driver.name}"></option>
                    </select>
                    <div class="alert alert-danger bg-white border-0 pl-0 text-danger pt-1"
                         th:if="${#fields.hasErrors('driverId')}" th:errors="*{driverId}"></div>
                </div>
                <div class="form-group">
                    <label for="busId">Service:</label>
                    <select class="form-group" th:field="*{busId}" id="busId">
                        <option th:each="bus : ${busList}"
                                th:value="${bus.id}" th:text="${bus.id}"></option>
                    </select>
                    <div class="alert alert-danger bg-white border-0 pl-0 text-danger pt-1"
                         th:if="${#fields.hasErrors('busId')}" th:errors="*{busId}"></div>
                </div>
                <div class="form-group">
                    <label for="driving">Driving:</label>
                    <input type="text" class="form-control" placeholder="Enter driving"
                           id="driving" th:field="*{driving}">
                    <div class="alert alert-danger bg-white border-0 pl-0 text-danger pt-1"
                         th:if="${#fields.hasErrors('driving')}" th:errors="*{driving}"></div>
                </div>
                <div class="form-group">
                    <label for="assignmentTime">Assignment Time:</label>
                    <input type="text" class="form-control" placeholder="Enter assignment time"
                           id="assignmentTime" th:field="*{assignmentTime}">
                    <div class="alert alert-danger bg-white border-0 pl-0 text-danger pt-1"
                         th:if="${#fields.hasErrors('assignmentTime')}" th:errors="*{assignmentTime}"></div>
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
                <a class="btn btn-secondary" href="/assignment">Back</a>
            </form>
        </div>
    </div>
</div>

</body>
</html>