<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/admin-head :: html_head(pageTitle = 'Your Pets - Admin')}"></head>
<body>
<div th:replace="~{fragments/admin-menu :: admin-menu}"></div>
<div class="container-fluid my-5">
    <div class="row mb-3">
        <div class="col text-center">
            <h2>Appointment Management</h2>
        </div>
    </div>

    <div class="row mx-5 px-5 my-5">
        <div class="col mx-5 px-5">
            <form method="get" action="/admin/appointments">
                <div class="form-group">
                    <label for="name">Search By Name</label>
                    <input type="text" class="form-control" id="name" placeholder="Enter name" name="name"
                           th:value="${requestSearch.name}">
                </div>
                <button type="submit" class="btn btn-primary">Search</button>
            </form>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col">
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th>No.</th>
                    <th>Customer Name</th>
                    <th>Customer Phone</th>
                    <th>Customer Email</th>
                    <th>Content</th>
                    <th>Status</th>
                    <th>Created At</th>
                    <th>Handled At</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="appointment : ${appointments}">
                    <td th:text="${appointment.id}"></td>
                    <td th:text="${appointment.name}"></td>
                    <td th:text="${appointment.phone}"></td>
                    <td th:text="${appointment.email}"></td>
                    <td th:text="${appointment.content}"></td>
                    <td>
                        <span class="badge badge-success mr-1" th:each="status: ${appointment.status}">
                            <span th:text="${status.name}"></span>
                        </span>
                    </td>
                    <td th:text="${appointment.createdAt}"></td>
                    <td th:text="${appointment.handledAt}"></td>
                    <td>
                        <button class="btn btn-primary btn-sm admin-appointment-approve-btn"
                                th:attr="appointment-id=${appointment.id}, status=${appointment.status.code}"
                                th:classappend="${appointment.status.code} == 'PENDING' ? 'enable' : 'disabled'">
                            <i class="fas fa-check-square"></i>
                        </button>
                        <button class="btn btn-danger btn-sm admin-appointment-reject-btn"
                                th:attr="appointment-id=${appointment.id}, status=${appointment.status.code}"
                                th:classappend="${appointment.status.code} == 'PENDING' ? 'enable' : 'disabled'">
                            <i class="fas fa-minus-square"></i>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row my-3">
        <div class="col-4" th:text="${'Tổng số ' + totalElement + ' bản ghi'}">
        </div>

        <div class="col-8 d-flex justify-content-end align-items-center">
            <div class="mr-3">
                <span>Hiển thị</span>
                <select class="mr-1" id="appointment-page-size">
                    <option value="2" th:selected="${pageSize==2}">2</option>
                    <option value="3" th:selected="${pageSize==3}">3</option>
                    <option value="5" th:selected="${pageSize==5}">5</option>
                </select>
                <span>bản ghi</span>
            </div>
            <ul class="pagination justify-content-end mb-0">
                <li class="page-item">
                    <a class="page-link" th:href="@{'/admin/appointments?pageSize=' + ${pageSize} + '&' + 'currentPage=0'}">
                        <i class="fas fa-angle-double-left"></i>
                    </a>
                </li>
                <li class="page-item">
                    <a th:class="${'page-link ' + (currentPage == 0 ? 'disabled-page' : '')}"
                       th:href="@{${currentPage} != 0 ? ('/admin/appointments?pageSize=' + ${pageSize} + '&' + 'currentPage=' + ${currentPage - 1}) : '#'}">
                        <i class="fas fa-angle-left"></i>
                    </a>
                </li>
                <th:block th:each="index : ${#numbers.sequence(0, totalPage - 1)}">
                    <li th:class="${'page-item ' + (index == currentPage ? 'active' : '')}">
                        <a class="page-link"
                           th:href="@{'/admin/appointments?pageSize=' + ${pageSize} + '&' + 'currentPage=' + ${index}}"
                           th:text="${index + 1}"></a>
                    </li>
                </th:block>
                <li class="page-item">
                    <a th:class="${'page-link ' + (currentPage == (totalPage - 1) ? 'disabled-page' : '')}"
                       th:href="@{${currentPage} != (${totalPage} - 1) ? ('/admin/appointments?pageSize=' + ${pageSize} + '&' + 'currentPage=' + ${currentPage + 1}) : '#'}">
                        <i class="fas fa-angle-right"></i>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link"
                       th:href="@{'/admin/appointments?pageSize=' + ${pageSize} + '&' + 'currentPage=' + ${totalPage - 1}}">
                        <i class="fas fa-angle-double-right"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>


</div>


<div th:replace="~{appointment/admin-appointment-approvement-modal :: admin-appointment-approvement-modal}"></div>
<div th:replace="~{appointment/admin-appointment-reject-modal :: admin-appointment-reject-modal}"></div>


</body>
<div th:replace="~{fragments/embedded-js :: embedded-js}"></div>
</html>
