<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customer Management</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>

</head>
<body>

<div class="container my-5">
    <div class="row text-center mb-5">
        <div class="col">
            <h1>Đây là trang cập nhật dịch vụ</h1>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <form method="POST" th:action="@{/update-service}" th:object="${ServiceUpdateRequest}">
                <input type="hidden" id="id" th:field="*{id}">
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" class="form-control" placeholder="Enter name" id="name"
                           th:field="*{name}">
                    <div class="alert alert-danger bg-white border-0 pl-0 text-danger pt-1"
                         th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
                </div>
                <div class="form-group">
                    <label for="price">Price:</label>
                    <input type="number" class="form-control" placeholder="Enter price"
                           th:field="*{price}" id="price">
                    <div class="alert alert-danger bg-white border-0 pl-0 text-danger pt-1"
                         th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></div>
                </div>
                <div class="form-group">
                    <label for="unit">Unit:</label>
                    <select th:field="*{unit}" id="unit" class="form-control">
                        <option th:each="unit : ${T(com.quyen.qlhd.statics.Unit).values()}"
                                th:value="${unit}" th:text="${unit.value}"></option>
                        </option>
                    </select>
                    <div class="alert alert-danger bg-white border-0 pl-0 text-danger pt-1"
                         th:if="${#fields.hasErrors('unit')}" th:errors="*{unit}"></div>
                </div>
                <div class="form-group">
                    <label for="period">Period:</label>
                    <input type="number" class="form-control" placeholder="Enter period"
                           id="period" th:field="*{period}">
                    <div class="alert alert-danger bg-white border-0 pl-0 text-danger pt-1"
                         th:if="${#fields.hasErrors('period')}" th:errors="*{period}"></div>
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
                <a class="btn btn-secondary" href="/service">Back</a>
            </form>
        </div>
    </div>
</div>

</body>
</html>